/* billing page css */
.billing-area .billing-title h4{
    font-size: 20px; 
}
.billing-area .billing-address-1 {
    padding-top: 15px;
    margin-top: 12px;
    border-top: 1px solid #eee;
}
.billing-area .billing-address-1 ul.add-name{
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
}
.billing-area .billing-address-1 ul.add-name li.billing-name{
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 15px;
}
.billing-area .billing-address-1 ul.add-name li.billing-name input{
    width: 100%;
    font-size: 13px;
    margin-top: 10px;
    border: 1px solid #eee;
}
.billing-area .billing-address-1 ul.billing-locatio{
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
}
.billing-area .billing-address-1 ul.billing-locatio li.billing-info{
    width: calc(33.33% - 30px);
    margin-left: 30px;
    margin-bottom: 15px;
}
.billing-area .billing-address-1 ul.billing-locatio li.billing-info input{
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
    border: 1px solid #eee;
}
.billing-area .billing-address-1 ul.country-info{
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
}
.billing-area .billing-address-1 ul.country-info li.billing-country{
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 22px;
}
.billing-area .billing-address-1 ul.country-info li.billing-country input{
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
    border: 1px solid #eee;
}
.billing-area .billing-address-1 ul.country-info li.billing-country select{
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
    border: 1px solid #eee;
}
.billing-area .next-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.billing-area .next-button a{
    background-color: #f5ab1e;
    color: #fff;
    font-weight: 600;
    padding: 7px 15px;
    border: 2px solid #f5ab1e;
    border-radius: 3px;
    
    line-height: 1;
}
.billing-area .next-button a:hover{
    background-color: transparent;
    color: #000;
}